<header class="top-bar align-justify r-border">
  <div class="grid-x align-middle">
    <i class="material-icons">menu</i>
    <p class="sidebar__menu">Menu</p>
  </div>
  <i class="material-icons close">close</i>
</header>
