{% from "macros/macros.njk" import sidebarDefault %}
{#  important!
    arguments order: heading, icon, title, button #}

{% for i in range (0, sidebarMusic | length) %}
  <div class="sidebar__section">
    {% for item in sidebarMusic[i] %}
        {{ sidebarDefault(item.heading, item.icon, item.title, item.button )}}
    {% endfor %}
  </div>
{% endfor %}
