{% macro sidebar(one, two) %}
  <div class="grid-x align-middle align-justify sidebar__item">
    <i class="material-icons cell shrink">{{ one }}</i>
    <p class="cell auto">{{ two }}</p>
  </div>
{% endmacro %}
