{% macro sidebar(one, two) %}
  <div class="grid-x align-middle align-justify sidebar__item">
    <i class="material-icons cell shrink">{{ one }}</i>
    <p class="cell auto">{{ two }}</p>
  </div>
{% endmacro %}

{% macro user(one, two) %}
  <div class="grid-x align-middle sidebar__item">
    <img class="user__avatar--s flex-child-shrink" src="{{ one }}" alt="">
    <p class="user__name">{{ two }}</p>
  </div>
{% endmacro %}
