p {
  line-height: $paragraph-lineheight;
  margin: 0;
  font-size: rem-calc(13);
  font-weight: $global-weight-normal;
}

li {
  font-size: rem-calc(12);

  a {
    color: $dark-gray;
    font-size: rem-calc(12);
  }

}
button {
  font-size: rem-calc(12);
  font-weight: 500;
}
