.search {
  max-width: rem-calc(350);

  .sidebar & {
    padding: $global-padding;
  }

}

.search__field {
  width: rem-calc(250);
  margin: 0;

  .sidebar & {
    width: rem-calc(130);
    height: rem-calc(20);
  }
}
