{% set searchPlaceholderDefault = "Type in to search..." %}

<div class="search grid-x align-middle">
  <i class="material-icons cell shrink">search</i>
  <input class="search__field cell" type="search" placeholder="{{searchPlaceholder or searchPlaceholderDefault}}">
</div>
