<aside class="sidebar cell">
  <header class="top-bar align-justify">
    <div class="grid-x align-middle">
      <i class="material-icons">menu</i>
      <p>Menu</p>
    </div>
    <i class="material-icons close">close</i>
  </header>
  <div class="sidebar__content">
    {% if title == "Main Page" %}
      {% include "layout/sidebar/_sidebar-main.njk" %}

    {% elseif title == "Statistics" %}
      {% include "layout/sidebar/_sidebar-statistics.njk" %}

    {% elseif title == "Music" %}
      {% include "layout/sidebar/_sidebar-music.njk" %}

    {% elseif title == "Messenger" %}
      {% include "layout/sidebar/_sidebar-messenger.njk" %}

    {% elseif title == "Video" %}
      {% include "layout/sidebar/_sidebar-video.njk" %},

    {% elseif title == "Discover" %}
      {% include "layout/sidebar/_sidebar-discover.njk" %}
    {% endif %}
  </div>
</aside>
