<aside class="sidebar cell">
  {% if title == "Video" %}
    {% include "layout/sidebar/header/_sidebar-header--video.njk" %}
  {% elseif title == "Messenger" %}
    {% include "layout/sidebar/header/_sidebar-header--messenger.njk" %}
  {% else %}
    {% include "layout/sidebar/header/_sidebar-header.njk" %}
  {% endif %}
  <div class="sidebar__content">
    {% if title == "Main Page" %}
      {% include "layout/sidebar/content/_sidebar-main.njk" %}

    {% elseif title == "Statistics" %}
      {% include "layout/sidebar/content/_sidebar-statistics.njk" %}

    {% elseif title == "Music" %}
      {% include "layout/sidebar/content/_sidebar-music.njk" %}

    {% elseif title == "Messenger" %}
      {% include "layout/sidebar/content/_sidebar-messenger.njk" %}

    {% elseif title == "Video" %}
      {% include "layout/sidebar/content/_sidebar-video.njk" %},

    {% elseif title == "Discover" %}
      {% include "layout/sidebar/content/_sidebar-discover.njk" %}

    {% elseif title == "Projects" %}
      {% include "layout/sidebar/content/_sidebar-projects.njk" %}
    {% endif %}
  </div>
</aside>
