{% from "macros/macros.njk" import sidebar %}


<div class="sidebar__section dashboard">
  {% for section in sidebarMusicSection1 %}
    {{ sidebar(section.icon, section.title) }}
  {% endfor %}
</div>

<div class="sidebar__section">
  <h3>Music Playlists</h3>
  {% for section in sidebarMusicSection2 %}
    {{ sidebar(section.icon, section.title) }}
  {% endfor %}
</div>

<div class="sidebar__section">
  {% for section in sidebarMusicSection3 %}
    {{ sidebar(section.icon, section.title) }}
  {% endfor %}
</div>
