{% from "macros/macros.njk" import sidebar, user %}


<div class="sidebar__section dashboard">
  {% for section in sidebarVideoSection1 %}
    {{ sidebar(section.icon, section.title) }}
  {% endfor %}
</div>

<div class="sidebar__section">
  <h3>Subscriptions</h3>
  {% for section in sidebarVideoSection2 %}
    {{ user(section.avatar, section.name) }}
  {% endfor %}
  <button class="hollow button" type="button" name="button">Show More</button>
</div>

<div class="sidebar__section">
  <h3>Popular Channels</h3>
  {% for section in sidebarVideoSection3 %}
    {{ sidebar(section.icon, section.title) }}
  {% endfor %}
  <button class="hollow button" type="button" name="button">Show More</button>
</div>
